<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

{% paginate collection.products by 12 %}

<!-- Begin Breadcrumbs -->
{% include 'breadcrumb' %}
<!-- End Breadcrumbs -->

{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}
<div class="grid--rev">
  <div class="grid__item large--three-quarters">
    {% comment %}
      Different markup if a collection description exists
    {% endcomment %}
    {% if collection.description != blank %}
    <!-- Begin Header - Title and Description -->
      <header class="section-header">
        <h1 class="section-header__title">{{ collection.title }}</h1>
        <div class="rte rte--header">
          {{ collection.description }}
        </div>
      </header>
      <hr>
      <div class="section-header">
        <div class="section-header__right">
          {% include 'collection-sorting' %}
        </div>
      </div>
    <!-- End Header - Title and Description -->
    {% else %}
    
    <!-- Begin Header - Title -->
      <header class="section-header">
        <h1 class="section-header__title section-header__left">{{ collection.title }}</h1>
        <div class="section-header__right">
          {% include 'collection-sorting' %}
        </div>
      </header>
    <!-- End Header - Title -->
    {% endif %}

    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
    <div class="grid-uniform">

      {% comment %}
        Loop through our products in the current collection.
        See the snippet 'product-grid-item' for the layout.
      {% endcomment %}
      <!-- Begin Product Grid -->
      {% for product in collection.products %}

        {% include 'product-grid-item' %}

      {% else %}

        {% if collection.handle == 'all' and current_tags == '' %}
        <!-- Begin Empty Collections -->
          {% comment %}
            Add default products to help with onboarding for collections/all only
          {% endcomment %}
          {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
          {% endunless %}
          {% include 'onboarding-empty-collection' %}
        <!-- End Empty Collections -->
        {% else %}
        <!-- Begin Collections exist but contains no products -->
          {% comment %}
            If collection exists but is empty, display message
          {% endcomment %}
          <div class="grid__item">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>
        <!-- End Collections exist but contains no products -->
        {% endif %}
        
      <!-- End Product Grid -->
      {% endfor %}

    </div>

    {% if paginate.pages > 1 %}
    <!-- Begin Pagination -->
      <hr>
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
    <!-- End Pagination -->
    {% endif %}

  </div>
  
  <!-- Begin Sidebar -->
  <div class="grid__item large--one-quarter">
    {% include 'collection-sidebar' %}
  </div>
  <!-- End Sidebar -->
</div>

{% endpaginate %}
